.hidden {
	display: none;
	opacity: 0;
	-webkit-transition: opacity 1.1s linear;
	transition: opacity 1.1s linear;
}

.heading {
	height: 50px;
	font-size: 16px;
	color: white;
	padding: 10px;
	width: 60%;
}

.content {
	
	font-size: 19px;
	background: #eee;
	width: auto;
	
	overflow: hidden;
	height: 0;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.open {
	height: 150px;
	padding: 10px;
	width: auto;
	border-radius: 4px;
}



.animationlist {
	margin: 10px;
	font-size: 17px;
}

a {
	color: #b299ca;
}

h1 {
	text-align: center;
	color: gray;
	text-decoration: underline;
}

p {
	color: #122643;
	font-size: 19px;
}

body {
	background-image: url(binding-light.png);
}

.movetag {
	font-size: 25px;
	background-color: #b1aba1;
	text-align: center;
	border-radius: 6px;
	padding: 1em;
	color: #fefaf2;
}

.blue {
	background-color: #6495ed;
}




.yellow {
	background-color: yellow;
}

.red {
	background-color: #ff4c4c;
	
}

.item {
	width: 170px;
	display: inline-block;
	border-radius: 5px;
	height: 170px;
	margin-top: 50px;
	margin-left: 40px;
	padding: 1em;
	text-align: center;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  width: 50%;
}

.container{ 
  margin-top: 50px;
}